{% extends '@WahidProjetTwig/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('css/theme.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('images/icons/css/font-awesome.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600') }}" rel='stylesheet'>
{% endblock %}
{% block titlebody %}
    <h1>L'ensemble des CVs</h1>
{% endblock %}
{% block soustitlebody %}
    <li class="active"><i class="icon-file-alt"></i>L'ensemble des CVs</li>
{% endblock %}
{% block body %}
    <div class="col-lg-12"><small>Bonjour nous sommes le : 31/08/2018</small></div>
    {% set prenomtest = 'wahid' %}
    {% for personn in personn %}

        <div class="col-lg-4">
            <div class="media user">
                <a class="media-avatar pull-left" href="#">
                    <img  src="{{ asset(personn.path) }}">
                </a>
                <div class="media-body">
                    <h3 class="media-title">
                        {{ personn.name|capitalize  }} {{ personn.firstname|capitalize }}
                    </h3>
                    <p>
                        <small class="muted">{{ personn.age }}</small></p>
                    <div class="media-option btn-group shaded-icon">
                        <button class="btn btn-small">
                            <i class="icon-envelope"></i>
                        </button>
                            <a href="{{ path('wahid_projet_twig_get_user',{id:personn.id}) }}">
                                <button class="btn btn-small">
                                    <i class="icon-share-alt"></i>
                                </button>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <br />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
{% endblock %}
