{% extends '@WahidHandlingUser/layout.html.twig' %}
{% block titlebody %}
    <h1>L'ensemble des Etudiants</h1>
{% endblock %}
{% block body %}
    <div class="col-lg-12"><small>Bonjour nous sommes le : 31/08/2018</small></div>
    {% for etudiant in etudiant %}
        <div class="col-lg-4">
            <div class="media user">
                <a class="media-avatar pull-left" href="#">
                        <img  src="{{ asset(etudiant.media.path) }}" alt="{{ etudiant.media.alt }}">
                </a>
                <div class="media-body">
                    <h3 class="media-title">

                        Nméros Card Etudiant : {{ etudiant.studentCardNumbers }}
                    </h3>
                    <h3 class="media-title">
                        {{ etudiant.name|capitalize }} {{ etudiant.firstname|capitalize }}
                    </h3>
                    <div class="media-option btn-group shaded-icon">
                        <button class="btn btn-small">
                            <i class="icon-envelope"></i>
                        </button>
                        <a href="{{ path('wahid_projet_crud_detail_etudiant_user',{ id:etudiant.id}) }}">
                            <button class="btn btn-small">
                                <i class="icon-share-alt"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <br />
{% endblock %}
