{% extends '@WahidHandlingUser/layout.html.twig' %}
{% block body %}
    <table class="table table-bordered table-striped table-condensed">
        <caption> <h2>Liste des cours :</h2> </caption>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de modules</th>
                <th>Nom de l'enseignant</th>
                <th>Modifer </th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for cours in cours %}
            <tr>
                <td>{{ cours.name }}</td>
                <td>{{ cours.numberModule }}</td>
                <td>{{ cours.teacherName }}</td>
                <td><a href="{{ path('wahid_projet_crud_update_cours_user',{id:cours.id}) }}">
                        <button class="btn btn-small">
                            <i class="fas fa-wrench"></i>
                        </button>
                    </a>
                </td>
                <td><a href="{{ path('wahid_projet_crud_delete_cours_user',{ id:cours.id}) }}">
                        <button class="btn btn-small">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
